global:
  accountId: "650755435642"
  region: "ap-southeast-2"
  envName: "syp2"
  domainExtKaltura: "syp2.ovp.kaltura.com"

App:
  env: syp2

  # repo details
  image:
    repository: "{{ .Values.global.accountId }}.dkr.ecr.{{ .Values.global.region }}.amazonaws.com/push"
  initImage:
    repository: "{{ .Values.global.accountId }}.dkr.ecr.{{ .Values.global.region }}.amazonaws.com/push-init-py"

  # annotations
  annotations:
    vector.dev/s3: 'true'

# push configs
push:
  RABBIT_MQ_SERVER: http://rabbit.syp2.ovp.kaltura.prod:5672
  RABBIT_MQ_SERVER_HOSTS: http://rabbit.syp2.ovp.kaltura.prod:5672
  rabbitUrl: rabbit.syp2.ovp.kaltura.prod